

/* ---------- BOARD ---------- */
.column {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #eee;
  border: 1px solid black;
}

.row {
  margin-bottom: -5px;
}

#board: {
  width: 100%;
  margin: 0 auto;
}

#container {
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

.column:hover {
  background: #aaa;
}

.BOMB {
  background: red;
}

.oneBomb { color: green; }

.twoBombs { color: blue; }

.lotsBombs { color: red; }

.noBombs { background-color: #C0C0C0; }

.markedFlag { background-color: green; }